/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 nav {
	 background: none;
	 box-shadow: none;
	 -webkit-box-shadow: none;
 }

 nav ul li {
	 float: none;
 }

 nav ul a:hover {
    background: none;
}
body button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	box-shadow: none;
}

body nav {
	height: auto;
	line-height: auto;
}

@media only screen and (min-width: 601px) {
	body nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
	    height: auto;
	    line-height: auto;
	}
}
.btn, .btn-large, .btn-small, .btn-flat {
	text-transform: none;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #17c0f5;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #c4ecfb;
}
label[for=datepicker] {
    z-index: -1;
}
.toast {
	font-size: 2rem;
}
.green-text{color:#4CAF50 !important}
 .blue {
	 background-color: #27c3f3 !important;
 }
 button:focus {
    outline: none;
    background-color: #27c3f3;
}
td.is-disabled button {
		color: #0000002b !important;
}
 .datepicker-date-display {
	 background-color: #27c3f3;
	 padding: 20px 12px;
 }
 .datepicker-date-display .date-text {
	 font-size: 16px;
   line-height: 24px;
 }
 .datepicker-table td.is-selected {
	 background-color: #27c3f3;
 }

a.not-active.v-list-item.v-list-item--link.theme--dark > span.v-ripple__container {
  display: none;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #27c3f3;
    -webkit-box-shadow: 0 1px 0 0 #27c3f3;
    box-shadow: 0 1px 0 0 #27c3f3;
}

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]){
	border-bottom:1px solid #27c3f3;
	-webkit-box-shadow:0 1px 0 0 #27c3f3;
	box-shadow:0 1px 0 0 #27c3f3
}

input:not([type]):focus.valid ~ label,input[type=text]:not(.browser-default):focus.valid ~ label,input[type=password]:not(.browser-default):focus.valid ~ label,input[type=email]:not(.browser-default):focus.valid ~ label,input[type=url]:not(.browser-default):focus.valid ~ label,input[type=time]:not(.browser-default):focus.valid ~ label,input[type=date]:not(.browser-default):focus.valid ~ label,input[type=datetime]:not(.browser-default):focus.valid ~ label,input[type=datetime-local]:not(.browser-default):focus.valid ~ label,input[type=tel]:not(.browser-default):focus.valid ~ label,input[type=number]:not(.browser-default):focus.valid ~ label,input[type=search]:not(.browser-default):focus.valid ~ label,textarea.materialize-textarea:focus.valid ~ label{
	color:#27c3f3
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	font-size: 16px;
	margin: 0px;
	height: 4rem;
}

.input-field>label {
	font-size: 88%;
}

.captcore_process-template-default #primary.content-area ul li {
  list-style-type: disc;
}

.single-captcore_process #main header.main {
  padding: 50px 0 !important;
}

.single-captcore_process #main header.main .date-author {
  margin-bottom: 0px !important;
}

.single-captcore_process #main header.main .btn {
  margin-top: 1em;
  font-size: 0.9em;
}

.content-area ul.acf-actions {
  margin: 0 0 10px 0;
  right: -3px;
}

.content-area ul.collapsible {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.modal .modal-content {
	max-width: 990px;
	margin: auto;
}

.modal.bottom-sheet.open {
  top: 0px;
  max-height: 100%;
  margin: 0em;
  width: auto;
}
#autocomplete-input {
	width: 400px;
}

.content-area .select-wrapper ul.dropdown-content {
  top: 100%;
  display: none;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #27c3f3;
}
.autocomplete-content.dropdown-content {
	opacity: 1;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #27c3f3 !important;
}
body.logged-in.admin-bar .modal.bottom-sheet.open {
  margin-top: 32px;
}

.quicksaves h4 a {
	float:right;
}

.quicksave .card .action-buttons {
	padding-bottom: 0.5em;
	margin-top: -0.5em;
  text-align: right;
}

.action-buttons .btn, .action-buttons .btn-large, .action-buttons .btn-flat {
	height: 24px;
	line-height: 24px;
	padding: 0px 8px;
}

.quicksave .spinner-blue, .quicksave .spinner-blue-only {
  border-color: #27c3f3;
}

.quicksave table {
  border-collapse: collapse;
  font-size: 0.8em;
  width: auto;
}

.quicksave table th, .quicksave table td {
  padding-right: 5px;
  padding-left: 5px;
}

.quicksave table tr.changed {
  background: #5cbad5;
  color: #fff;
}

.quicksave table tr.version-changed td:nth-child(2) span, .quicksave table tr.status-changed td:nth-child(3) span {
  background: #25c4f3;
  color: #fff;
  margin: 0 0 0 -7px;
  display: inline-block;
  line-height: 1.6em;
  padding: 0 7px;
}

.quicksave table tr.removed {
  text-decoration: line-through;
  opacity: .5;
  color: #ff0000;
}

.quicksave table td:nth-child(2) {
	width: 72px;
}

.quicksave table td:nth-child(3) {
	width: 72px;
}

.quicksave table td:nth-child(4) {
	width: 64px;
  text-align: center;
	opacity: 0.1;
}

.quicksave table td:nth-child(4) a {
	line-height: 18px;
  height: 18px;
}

.quicksave table tr:hover td:nth-child(4) {
  opacity: 1;
}

.quicksave table tr.removed:hover td:nth-child(4) {
  display: none;
}

.quicksave .card-reveal {
  table-layout: fixed;
  margin: 0px;
  overflow: scroll;
}

.quicksave span.badge {
  font-size: 0.7em;
  letter-spacing: -0.5px;
  line-height: 28px;
}

.quicksave .card-reveal pre {
  font-size: 0.5em;
  padding: 1em;
}

.quicksave .response {
  display: inline-block;
}

.quicksave .file {
  font-size: 0.8em;
  padding: 0px 1em;
  margin: 0px;
  line-height: 1.6em;
  display: block;
}

.quicksave .file:hover {
  background: #27c3f3;
  color: #fff;
  cursor: pointer;
}

.quicksave .file_status {
  min-width: 20px;
  display: inline-block;
}

.mailgun_logs pre {
  background: #fff;
  font-size: 0.65em;
  padding: 0px;
  margin: 0px;
}

.collapsible .mailgun_logs span.timestamp {
  min-width: 200px;
}

.collapsible .mailgun_logs span.badge {
  margin-left: 2em;
}

.content-area ul.acf-actions a.button {
  padding: 5px 20px;
}

.content-area .acf-fields>.acf-field {
  border: 0px;
}


form.acf-form {
  margin-bottom: 2em;
}

.acf-form .acf-field p.description {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.website-group {
  margin-bottom: 2em;
}

.website-group+p {
  max-width: 800px;
}

div.website {
  margin: 0 0 10px 0;
  line-height: 1.4em;
  font-size: .85em;
  overflow: hidden;
}

div.website .logins {
  float: left;
}

div.website .usage-stats {
  text-align: right;
  bottom: 12px;
  position: absolute;
  right: 18px;
}

.usage-stats .usage.over {
  background: antiquewhite;
}

table.usage td {
	padding: 0px 5px;
}

div.website .actions a {
  color: #f7f7f7;
  background: #6a6a6a;
  padding: 0px 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.staging div.website {
  background: rgba(39, 195, 243, 0.1);
}

.dns_records .card .card-title {
  font-size: 20px;
}

table.dns_records {
  font-size: 0.8em;
}

table.dns_records>tbody>tr:nth-child(1) {
  display: none;
}

table.dns_records>tbody>tr:nth-child(2)>td {
  border-top: 1px solid black;
}

table.dns_records td {
  padding: 2px 5px 2px 5px;
  margin: 0px;
  border-bottom: 1px solid black;
  border-radius: 0px;
  line-height: 1.2em;
  position: relative;
}

table.dns_records tr:last-child td {
  border-bottom: 0px solid black;
}

table.dns_records th:nth-child(4) {
  min-width: 48px;
}

table.dns_records th:nth-child(5) {
  min-width: 42px;
}

table.dns_records td.value {
	/* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

table.dns_records td.value .mx table th:nth-child(1), table.dns_records td.value .srv table th:nth-child(1), table.dns_records td.value .srv table th:nth-child(2) {
  width: 44px;
  font-size: .7em;
}

table.dns_records td.value .srv table th:nth-child(3) {
  width: 51px;
  font-size: .7em;
}

table.dns_records td.value .mx table th:nth-child(3) {
  width: 24px;
}

table.dns_records td div.value {
  display: none;
}

table.dns_records tr[data-status="new-record"] td div.mx, table.dns_records td div.srv {
  display: none;
}

table.dns_records tr[data-type="mx"] td div.mx {
  display: block;
}

table.dns_records tr[data-type="srv"] td div.srv {
  display: block;
}

table.dns_records tr[data-type="a"] td div.value, table.dns_records tr[data-type="aaaa"] td div.value, table.dns_records tr[data-type="aname"] td div.value, table.dns_records tr[data-type="cname"] td div.value, table.dns_records tr[data-type="txt"] td div.value, table.dns_records tr[data-type="spf"] td div.value, table.dns_records tr[data-type="httpredirection"] td div.value {
  display: block;
}

table.dns_records tr td .message {
  display: none;
}

table.dns_records tr td .display-domain-notice .message {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.4em;
  letter-spacing: -0.5px;
  z-index: 9999;
}

table.dns_records td.value table td {
  border-bottom: 0px;
}

table.dns_records td select {
  font-size: 0.8em;
}

table.dns_records td input[type="text"] {
  padding: 0px 4px;
  width: 100%;
}

table.dns_records>tbody>tr>td:nth-child(4) input[type="text"] {
  width: 48px;
}

table.dns_records td p {
  padding: 0px;
  margin: 0px;
}

table.dns_records tr[data-status="remove-record"] {
  position: relative;
  color: #ff00008c;
  background: #80808021;
}

table.dns_records tr[data-status="remove-record"] td:not(:last-child) {
  text-decoration: line-through;
}

table.dns_records .dns_record .record-editable {
  display: none;
}

table.dns_records .dns_record .record-non-editable {
  display: none;
}

table.dns_records .dns_record[data-status="edit-record"] .record-editable {
  display: block;
}

table.dns_records .dns_record[data-status="edit-record"] .record-view {
  display: none;
}

table.dns_records .dns_record>td:last-child {
  text-align: right;
}

.content-area ul.wc-item-meta {
  list-style: none;
  margin: 0 0 0 20px;
}

.content-area ul.wc-item-meta p {
  display: inline;
}

h3.process {
  margin-top: 1em;
  margin-bottom: 0em;
}

.page-template-page-company-handbook header.main>h1.entry-title:after {
	content: "\f279";
	font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: relative;
  left: 10px;
  top: 2px;
}

.company-handbook i {
  margin-left: 7px;
  text-align: left;
}

.company-handbook .process-star i {
  margin-left: 0px;
}

.process-icons i {
  margin-left: 20px;
}

.process-icons i:first-child {
  margin-left: 0px;
}

.process-stars {
  position: relative;
  padding-right: 122px;
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding-bottom: 1em;
  line-height: 1em;
}

.process-stars:last-child {
  border-bottom: 0px;
}

.process-stars .heading {
  text-align: left;
  margin-bottom: .5em;
}

.process-stars .heading span {
  font-size: .6em;
  background-color: rgba(39, 195, 243, 0.79);
  border-radius: 4px;
  color: #fff;
  position: relative;
  top: -3px;
  margin: 0 0 0 5px;
  display: inline-block;
  text-align: center;
  padding: 3px 3px;
  line-height: 1em;
}

.process-stars .heading span.site-count {
  color: #888;
  background: none;
}

.process-role-manager {
  display: inline;
  font-size: 13px;
}

.process-description {
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.process-log-update {
  max-width: 980px;
  margin: auto;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1em 1em 0 1em;
  margin-top: 1em;
  border-radius: 4px;
  border: 1px solid rgba(74, 74, 74, 0.8);
  border-style: solid;
}

.process-log-update .acf-relationship .filters {
  background: #f7f7f7;
}

.process-log-update .acf-relationship .filters .filter {
  line-height: auto;
  height: auto;
  padding: 5px;
}

.process-log-update .acf-relationship .list .acf-rel-label, .process-log-update .acf-relationship .list .acf-rel-item, .process-log-update .acf-relationship .list p {
  padding: 0px 7px;
  margin: 0;
  display: block;
  position: relative;
  min-height: 12px;
  font-size: 0.85em;
  line-height: 1.8em;
}

.process-log-update .acf-field textarea {
  height: 64px;
}

.process-log-update .acf-field.acf-field-select.acf-field-588bb7bd3cab6 label {
  display: none;
}

article.type-captcore_process {
  z-index: 1;
  position: relative;
}

.process-log-update .list {
  float: none;
  width: auto;
}

.process-log-update form.acf-form {
  margin-bottom: 1em;
}

.process-log-update .acf-relationship .list {
  height: 88px;
}

.process-log-update .acf-fields>.acf-field {
  padding: 8px 0px;
}

.process-log-update .acf-field .acf-label {
  vertical-align: top;
  margin: 0px;
  font-size: 0.8em;
  padding: 0px;
  line-height: 1em;
  font-weight: normal;
}

.process-log-update input.acf-button.button.button-primary.button-large {
  padding: 10px 15px;
}

.process-log-update .close {
  position: absolute;
  top: 0.4em;
  right: 1em;
  font-size: 0.85em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 10px;
  line-height: 1.9em;
}

.process-log-update .acf-relationship .filters li:first-child .inner, .process-log-update .acf-relationship .filters .inner {
  padding: 0px;
}

.process-log-update .task-actions {
  font-size: .7em;
  line-height: 1.8em;
}

.process-log-update .task-actions i {
  display: block;
  font-size: 2em;
}

.process-log-progress {
  text-align: center;
  margin-bottom: 1em;
}

.process-log-progress li {
  list-style: none;
  display: none;
}

.process-log-progress li[data-active="true"] {
  display: block;
}

body .progress {
  background-color: #25c4f3;
}

body .progress .indeterminate {
  background-color: #075b75;
}

.process_log_items {
  display: none;
}

.content-area .process-log-update ul {
  margin: 0px;
}

.started-processes .process-star {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
}

.started-processes .process-star .desc {
  display: inline-block;
}

.started-processes .process-star a {
  margin: 0 0 0 7px;
}

.process-star {
  display: inline-block;
}

.process-star .info p {
  line-height: 1em;
  padding: 8px 0px;
}

.process-star .desc {
  line-height: 1em;
  padding: 8px 0px;
}

.process-star hr {
  margin: 10px 0px;
  padding: 0px;
  opacity: 0.5;
}

.process-star a {
  -webkit-transition: 0.0s ease;
  -moz-transition: 0.0s ease;
  -o-transition: 0.0s ease;
  transition: 0.0s ease;
}

.process-week-view {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
  text-align: center;
}

.process-week-view .process-day {
  width: 14%;
  margin-right: .33%;
  padding: 0% 1%;
  line-height: 1em;
  margin-bottom: 10px;
}

.process-week-view .process-day span {
  margin-bottom: 4px;
  display: block;
}

.process-week-view .process-day:last-child {
  margin-right: 0%;
}

.activity-log div.tooltip {
  position: relative;
  text-align: left;
}

.activity-log div.tooltip span {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  position: absolute;
  background: #000;
  border-radius: 10px;
  color: #fff;
  padding: 8.5px 12px;
  font-size: 13px;
  left: -50%;
  top: 27px;
  width: 230px;
  z-index: 1;
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.activity-log div.tooltip:hover span {
  visibility: visible;
  opacity: 1;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.activity-log div.tooltip span:before {
  content: " ";
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-bottom: 11px solid #000;
  border-right: 11px solid transparent;
  top: -10px;
  left: 6px;
  position: absolute;
}

.toggle-buttons a {
  z-index: 9999;
  position: relative;
  color: #000;
  opacity: .4;
  font-weight: normal;
}

.toggle-buttons a.active {
  color: #27c3f3;
  opacity: 1;
  font-weight: bold;
}

.toggle-buttons a:active {
  outline: none;
}

/* entire container, keeps perspective */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* flip the pane when clicked */

.flip-container.toggle .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* flip speed goes here */

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card hr {
  margin: 4px 0;
  background-color: #eaeaea;
}

.card svg {
  margin-right: 15px;
  width: 24px !important;
  height: 24px !important;
  line-height: 1.3em;
  text-align: center;
  vertical-align: middle;
}

p.small {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

a.btn.blue {
  color: #fff !important;
}

a.btn.white {
  color: #5cbad5 !important;
}

i.material-icons.reverse {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.card i.material-icons {
  line-height: 1.3em;
  text-align: center;
}

.website-group .card i.fas {
    margin-right: 17px;
    height: 20px;
    margin-left: 3px;
    vertical-align: middle;
}

.card .pass {
  display: none;
}

.card:hover .pass {
  display: inline-block;
}

.card:hover .pass-fake {
  display: none;
}

.website-group .card a.blue.right.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal.file_diff.open {
  width: 90%;
  max-height: 86%;
}

.file_diff .code {
  font-size: 0.8em;
  line-height: 1.5em;
  padding: 0 2%;
}

.file_diff .code.remove {
  background-color: #ff00002b;
}

.file_diff .code.add {
  background: #00ff004a;
}

/* hide back of pane during swap */

.website-group .production, .website-group .staging {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.website-group .staging {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.website-group .staging p.label {
  position: absolute;
  font-weight: bold;
  left: 10px;
}

/* front pane, placed above back */

.website-group .production {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* back, initially hidden pane */

.website-group .staging {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.website-group .toggle-buttons {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 0px;
  font-size: 0.8em;
  font-weight: bold;
}

.card-reveal a.btn {
  font-size: .75em;
}

#report {
  padding: 5px 20px;
  background: #fff;
}

#report .fa-key {
  cursor: pointer;
}

ul.changelog {
  border-left: 1px solid #ccc;
  list-style: none;
  margin: 10px 0 0 14px;
  padding: 10px 0 1px 10px;
}

ul.changelog li {
  padding: 0px 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
  position: relative;
}

ul.changelog li:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: -10px;
  border: 3px solid #fff;
  position: absolute;
  left: -18.5px;
  top: 8px;
}

ul.changelog li .changelog-item {
  overflow: hidden;
  padding: 0px 11px;
  border: 1px solid #F1F1F1;
  text-decoration: none;
  border-radius: 19px;
  display: inline-block;
  font-size: 14px;
  max-width: 85%;
  transition: border 0.1s ease-out;
  -webkit-transition: border 0.1s ease-out;
  -moz-transition: border 0.1s ease-out;
  -o-transition: border 0.1s ease-out;
}

ul.changelog li .changelog-item.hascontent {
  cursor: pointer;
}

ul.changelog li .changelog-item.hascontent:hover {
  border: 1px solid #ddd;
}

ul.changelog li .changelog-item .title {
  line-height: 1em;
  padding: 0.7em 0 0.7em 0;
}

ul.changelog li .changelog-item .title.hascontent {
  cursor: pointer;
}

ul.changelog li .changelog-item .title a {
  font-size: 11px;
  margin: 0 0 0 20px;
  line-height: 18px;
  position: relative;
  top: -5px;
  text-decoration: none;
  border: 0px;
  text-transform: uppercase;
}

ul.changelog li .changelog-item .content {
  display: none;
  line-height: 1.2em;
  padding: 0 0 1em 0;
  margin: 0px;
}

ul.changelog li .changelog-item .content.show {
  display: block;
}

ul.changelog li .changelog-item .content, ul.changelog li .changelog-item .content p {
  font-size: 12px;
  line-height: 14px;
  margin: 0px;
}

ul.changelog li .changelog-item .content p {
  padding: 4px 0;
}

ul.changelog li .changelog-item .content a {
  text-decoration: none;
}

ul.changelog li .changelog-item .author {
  font-size: .8em;
  line-height: 1em;
  padding-bottom: .7em;
}

ul.changelog li .changelog-item .changelog-date {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px;
}

ul.changelog.domain li {
  font-size: 14px;
  padding: 0;
}

ul.changelog.domain {
  border-left: 3px solid #ccc;
  list-style: none;
  margin: 0 0 0 12px;
  padding: 15px 0 10px 20px;
}

ul.changelog.domain li:before {
  content: '';
  width: 11px;
  height: 11px;
  background: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: -10px;
  border: 3px solid #fff;
  position: absolute;
  left: -27px;
  top: 4px;
}

.reports {
  padding: 4px 20px;
}

.reports span {
  float: right;
}

.site-manage {
  display: none;
}

.content-area .site ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.site .collapsible-body {
  font-size: .75em;
  line-height: 1.4em;
}

.site span.title {
  margin-right: 1em;
}

.site span.timestamp {
  font-size: .75em;
  line-height: 2em;
}

.site-manage .card .card-content {
  padding: 12px;
}

.site .collapsible-header, .site .collapsible-body {
  border-bottom: 0px;
}

.site span.badge {
  line-height: 2.7em;
}

.site .collapsible-body table td {
  border-bottom: 1px solid #d0d0d0;
}

.site-filter {
  width: 100%;
  overflow: hidden;
}

.site-filter select, .selected-action select {
  font-size: .75em;
  max-width: 220px;
  text-overflow: ellipsis;
}

.site .checkbox-selector {
  background: #94949412;
  width: 15px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site .checkbox-selector:before {
  content: "selected";
  font-size: 0.2em;
  position: absolute;
  left: -9px;
  top: 20px;
  padding: 0px;
  margin: 0px;
  opacity: 0;
  transform: rotate(-90deg);
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.site .checkbox-selector:hover {
  background: #25c4f361;
}

.site .checkbox-selector.selected {
  background: #25c4f3;
}

.site .checkbox-selector.selected:before {
  opacity: 1;
  color: #fff;
}

html body {
	font-size: 120%;
}

.theme--light.v-application {
	background: none;
}

.table_users tbody tr td:nth-child(6) {
	 max-width:200px;
	 display:block;
}

.strikethrough {
	text-decoration: line-through;
}

.usage.multisite {
	width: 100px;
}

.usage.provider {
	width: 100px;
  letter-spacing: -0.4px;
}

.usage.visits {
	width: 130px;
}

.usage.storage {
	width: 100px;
}

.usage button {
	margin: 0px;
	font-size: 11px;
  font-weight: bold;
}

.usage button .v-icon.material-icons.theme--light {
	display:none;
}

.usage button.v-btn--active .v-icon.material-icons.theme--light {
	display:inline-block;
}

.desc .usage button.v-btn--active .v-icon.material-icons.theme--light {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.usage {
	display: inline-block;
	text-align: center;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}

.graph-svg-tip.comparison .title {
	font-size: 12px !important;
}

g.chart-legend {
	display: none;
}

.table-dns {
	border-collapse: collapse;
  table-layout:fixed;
  width: 100%;
}

.table-dns td {
	  padding: 0.25em 1em 0.25em 0em;
    margin-bottom: 0px;
    line-height: 1.50em;
    font-size: 16px;
    border-top: 1px solid #8a8a8a;
    vertical-align: top;
}
.table-dns td.name, .table-dns td.value {
	overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.table-dns tr.delete {
	color: #ff00008c;
    background: #80808021;
}
.table-dns tr.delete td:not(:last-child) {
    text-decoration: line-through;
}
.table-dns .v-input__slot {
	margin-bottom: 0px;
}
.table-dns td:last-child {
	padding: 0.25em 0em 0.25em 0em;
}

.table-layout-fixed table {
	border-collapse: collapse;
	table-layout:fixed;
}

.table-quicksaves tbody > tr {
	cursor: pointer;
}

.text-right .usage:last-child {
	border-right: 0px;
}

.v-input {
	margin-top: 0px;
}
.siteFilter .v-input__control { 
	min-height: 42px;
}
.site .v-tabs--right .v-tab {
	min-width: 40px;
	padding: 0 10px;
}
.v-tabs__container--icons-and-text {
	height: 54px;
}
.v-tabs__container--fixed-tabs .v-tabs__div, .v-tabs__container--icons-and-text .v-tabs__div {
	min-width: 0px;
}

.theme--dark .theme--light .v-select__selections {
	color: rgb(22, 101, 192);
	padding-left: 6px;
}

.theme--dark .theme--light .v-icon {
	color: rgba(0,0,0,.54);
}

.application.theme--light a {
	color: inherit;
}

.v-application .dns_introduction a {
	text-decoration: underline;
	font-weight: bold;
	color: #fff;
}

.application.theme--light .dns_introduction p {
	margin-bottom: 0px;
}

.table-dns td button.v-btn.v-btn--flat.v-btn--icon.v-size--small {
	max-width: 30px;
	max-height: 30px;
}

.theme--light.v-table a,
.theme--light.v-table a:hover {
	color: #1976d2;
}

.timeline .theme--light.v-table p {
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: initial;
}
.timeline .theme--light.v-table ul {
	margin: 5px 0px;
}
.timeline .theme--light.v-table li {
    list-style: disc;
    margin-left: 1.5em;
}
.timeline .theme--light.v-table h1,
.timeline .theme--light.v-table h2,
.timeline .theme--light.v-table h3,
.timeline .theme--light.v-table h4,
.timeline .theme--light.v-table h5,
.timeline .theme--light.v-table h6 {
	margin: 0px;
}

.timeline table.theme--light.v-table tbody td {
	vertical-align: top;
	padding: 1.2em 1.8em;
}

.v-expansion-panel__header {
	line-height: 0.8em;
}

ul.v-expansion-panel.theme--light {
    margin: 0px;
    padding: 0px;
}

.theme--light.v-expansion-panels .v-expansion-panel.site.toggleSelect .v-expansion-panel-header {
    padding-left: 75px;
}

.v-expansion-panel--inset .v-expansion-panel__container, .v-expansion-panel--popout .v-expansion-panel__container {
    max-width: 100%;
}

.v-expansion-panel--inset .v-expansion-panel__container--active, .v-expansion-panel--popout .v-expansion-panel__container--active {
	margin: 16px 0px;
}

table.v-table tbody td, table.v-table tbody th {
	border: 0px;
}

.quicksave-table table.v-table tbody td, .quicksave-table table.v-table tbody th {
	height:40px;
}

.quicksave-table table tr:hover button.v-btn--flat:before {
	background-color: currentColor;
}

pre {
	font-size: 15px;
	padding: 10px;
}

#code_diff > div {
	white-space:pre-wrap;
}

.v-expansion-panel__body {
	position: relative;
}

.v-expansion-panel.site:before {
	box-shadow: none;
}

.theme--light.v-expansion-panels .v-expansion-panel.site {
	background: none;
}

.site .v-expansion-panel-content__wrap {
	padding: 0px;
	max-width: 100%;
}

.v-expansion-panel.v-expansion-panel--active.site:before {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.application .site .theme--dark.icon, .site .theme--dark .v-icon {
	font-size: 1em;
	padding-left: 0.3em;
}

.v-dialog__content--active {
	z-index: 999999 !important;
}

li.v-expansion-panel__container {
    list-style: none;
}

.v-card hr {
	margin: 4px 0;
	background-color: #eaeaea;
}
.v-btn__content span {
    padding: 0 0 0 6px;
}
.v-toolbar__items i.v-icon.theme--dark {
    margin-left: 2%;
}
table.v-datatable.v-table.v-datatable--show-select thead tr th:nth-child(1),
table.v-datatable.v-table.v-datatable--show-select tbody tr td:nth-child(1) {
	width: 42px;
	padding: 0 0 0px 22px;
}
.v-expansion-panel__body .v-card.bordered {
	margin: 2em;
	padding: 0px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.v-expansion-panel--active .v-card .keys .pass-mask {
	display: inline-block;
}
.v-expansion-panel-content .v-card .keys .pass-reveal {
	display: none;
}
.v-expansion-panel-content .v-card .keys:hover .pass-mask {
	display: none;
}
.v-expansion-panel-content .v-card .keys:hover .pass-reveal {
	display: inline-block;
}
.static.v-badge {
	position: fixed;
  top: 23%;
  right: 0px;
  background: white;
  z-index: 99999;
  padding: 1em 1em .5em 1em;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.v-select.v-text-field input, .v-input input, .v-text-field input {
	background: none;
	border: none;
}
.content-area ul.v-pagination {
	display: inline-flex;
	margin: 0px;
}
.alignright.input-group {
	width: auto;
}
a.v-tabs__item:hover {
	color:inherit;
}
.pagination span.pagination__more {
	margin: .3rem;
	border: 0px;
	padding: 0px;
}
[v-cloak] > * {
  display:none;
}
[v-cloak]::before {
  display: block;
  position: relative;
  left: 0%;
  top: 0%;
	max-width: 1000px;
	margin:auto;
	padding-bottom: 10em;
}
.application.theme--light {
	background-color: #fff;
}
.application .theme--light.btn:not(.btn--icon):not(.btn--flat), .theme--light .btn:not(.btn--icon):not(.btn--flat) {
	padding: 0px;
}
.application .theme--light.v-input:not(.v-input--is-disabled) input, .application .theme--light.v-input:not(.v-input--is-disabled) textarea, .theme--light .v-input:not(.v-input--is-disabled) input, .theme--light .v-input:not(.v-input--is-disabled) textarea {
	border-radius: 0px;
}
.secondary {
	background: transparent !important;
}
table {
	margin: 0px;
}
.menu__content--select .card {
	margin:0px;
	padding:0px;
}
.card  {
	margin:0px;
	padding:0px;
}
.card .list {
	float:none;
	width:auto;
	margin:0px;
	padding:0px;
}
button {
	padding: 0 16px;
}
button.btn--icon {
	padding:0px;
}
.theme--dark.v-btn, .theme--dark .v-btn {
	color: #fff !important;
}
span.text-right {
	float:right;
}
.input-group.input-group--selection-controls.switch .input-group--selection-controls__container {
	margin: auto;
	margin-top: 1.5em;
}

table.table .input-group--selection-controls {
	top: 10px;
	position: relative;
}

table.table .input-group.input-group--selection-controls.switch .input-group--selection-controls__container {
	margin:0px;
}

.application .theme--light.v-pagination__item--active, .theme--light button.v-pagination__item--active {
	color: #fff !important;
}

body button.v-pagination__item:hover {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

table.v-table thead tr,
table.v-table thead th,
table.v-table tbody td,
table.v-table tbody th,
table.v-table tfoot td {
	vertical-align: middle;
	border:0px;
}
.v-data-table td, .v-data-table th {
	vertical-align: middle;
	line-height: 1em;
}
.v-data-table td p {
	line-height: 1em;
}
.v-data-table td p:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.v-btn {
	letter-spacing: 0em;
}
.v-btn--active, .v-btn:focus, .v-btn:hover, button.v-expansion-panel-header:focus {
	background: none;
}
table.v-table tfoot td {
	font-weight: 400;
	font-size: 13px;
}
div.update_logs table tr td:nth-child(1) {
	white-space: nowrap;
}
.upload-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}
.upload-drag label.btn.btn-primary.file-uploads.file-uploads-html5.file-uploads-drop {
    display: none;
}
.upload-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: .6;
  text-align: center;
  background: #000;
}
.upload-drag .drop-active h3 {
  margin: -.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
.v-footer a {
	text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1px;
}